* {
  box-sizing: border-box;
  font-family: verdana;
}
:root{
  --main-color:rgb(23, 114, 199);
}
body {
  background: url(images/bg.jpg) center no-repeat;
  caret-color: var(--main-color);
  transition: all 3s;
  margin: 0;
  padding: 0;
}

::placeholder{
  color: rgb(55, 109, 207);
  font-family: arial, helvet;
  font-weight:600;
  opacity: 50%;
}

input:focus{
  background: rgba(51, 67, 97, 0.5);
  color: white;
}

input:focus::placeholder{
  color: white;
  opacity: 0%;
}

.container{
  width: 80%;
  margin: 2% auto;
  opacity: 75%;
  border: 3px solid var(--main-color);
  filter: drop-shadow(8px 8px 4px rgb(55, 109, 207));
}

input[type=text],[type=email],[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--main-color);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.1s linear;
}

input[type=submit]:hover {
  background-color: #45a049;
  transition: all 0.1s linear;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
