.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  flex-direction: row;
  height: 75vh;
}

.contact__left {
  padding: 30px;
  display: grid;
  place-items: center;
  align-items: center;
  flex: 0.1;
  border-right: 3px solid #fff;
}

.contact__left > a > button > img {
  width: 50px;
  object-fit: contain;
  margin: 10px;
}

.contact__right {
  padding: 10px;
  flex: 0.9;
  display: grid;
  place-items: center;
}

.contact__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__form > input[type="text"],
.contact__form > input[type="email"] {
  text-align: center;
  width: 90%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray);
  border-radius: 4px;
  margin: 20px;
}

.contact__form > textarea {
  text-align: center;
  width: 90%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray);
  border-radius: 4px;
  margin: 20px;
}

.contact__form > input[type="submit"] {
  outline: none;
  border: 2px solid dodgerblue;
  color: dodgerblue;
  font-weight: 800;
  padding: 10px 20px;
  transition: all 0.25s linear;
}

.contact__form > input[type="submit"]:hover {
  box-shadow: 10px 10px 10px 3px rgb(21 21 21 / 20%);
}

.contact__form > input[type="text"]:focus,
.contact__form > input[type="email"]:focus,
.contact__form > textarea:focus {
  border-bottom: 2px solid var(--success);
}
