@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');


.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.App-header {

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
