@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 234, 245) ;
}
.container .button{
width: 60px;
height: 60px;
float: left;
margin: 0px 5px;
background-color:#ffff;
cursor: pointer;
border-radius: 50px;
box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
overflow: hidden;
transition: all 300ms ease-out;
}
.container .button:nth-child(1):hover .icon{
    background:  #4267b2; 
}
.container .button:nth-child(2):hover .icon{
    background:   #8a3ab9 ; 
}
.container .button:nth-child(3):hover .icon{
    background:  #333; 
}
.container .button:nth-child(4):hover .icon{
    background:  #ff0000; 
}
.container .button:nth-child(5):hover .icon  {
    background:   #0077b5; 
}
.container .button:hover{
    width: 200px;
}
.container .button .icon{
    text-align: center;
    display: inline-block;
    width: 60px;
height: 60px;
box-sizing: border-box;
line-height: 60px;
}
.container .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 300ms ease-out;
}
.container .button:hover .icon i{
    color: #ffff;
}
.container .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 300ms ease-out;
}
.container .button:nth-child(1) span{
    color:  #4267b2; 
}
.container .button:nth-child(2) span{
    color:   #8a3ab9 ; 
}
.container .button:nth-child(3) span{
    color:  #333; 
}
.container .button:nth-child(4) span{
    color:  #ff0000; 
}
.container .button:nth-child(5) span  {
    color:   #0077b5; 
}