.projects {
  margin-top: 50px;
  display: grid;
  place-items: center;
  width: 100%;
}

.projects > h2 {
  color: var(--primary);
  font-size: calc(20px + 2vw);
  font-weight: 900;
  -webkit-text-stroke: 1px var(--indigo);
  font-family: "Source Code Pro", monospace;
}

.projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects__button {
  border: 3px solid #3498db;
  color: #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "montserrat";
  font-weight: 700;
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 10px 10px 10px 3px rgb(21 21 21 / 20%);
  transition: all 100ms linear;
}

.projects__button:hover {
  font-weight: 900;
  transform: scale(1.1);
  letter-spacing: 3px;
}
