* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #8fd6e1;
  --secondary-color: #1b1a17;
  --ternary-color: #02475e;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.age {
  color: #dbf6e9;
}
.heading {
  letter-spacing: 1rem;
  text-align: center;
  margin-top: 25px;
}
.container {
  width: 50%;
  margin: 120px auto;
  padding: 10px 5px;
  background-color: var(--ternary-color);
  border-radius: 10px;
}
.input-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.input-bar #date {
  text-align: center;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding: 0 15px;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.input-bar #btn {
  flex-basis: 30%;
  text-align: center;
  padding-top: 12px;
  height: 50px;
  letter-spacing: 0.4rem;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}

.input-bar #btn:active {
  background-color: #ededd0;
}
.output > div {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  flex-basis: 17%;
  min-height: 60px;
  padding: 5px 0;
  color: #000;
  border-radius: 10px;
}
.box h2,
.box h4 {
  padding: 5px 0;
}
.output {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  text-align: center;
}

/* theme toggler */
.theme {
  position: absolute;
  top: 20px;
  right: 20px;
}
.label {
  position: relative;
  background-color: #111;
  height: 26px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}
.ball {
  background-color: #fff;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

@media (max-width: 1068px) {
  .container {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .heading {
    letter-spacing: 0.1rem;
  }
  .input-bar {
    padding: 5px;
  }
  .input-bar #date {
    width: 55%;
    padding: 0px 10px;
    font-size: 1rem;
    letter-spacing: 0rem;
  }
  .input-bar #btn {
    flex-basis: 40%;
    letter-spacing: 0.1rem;
  }
  .output {
    padding: 5px;
  }
  .output > div {
    flex-basis: 25%;
  }
  .theme {
    top: 5px;
    right: 2px;
    transform: scale(0.8);
  }
}
