.big-head{
    padding: 20px 10px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
}
.md-head{
     padding: 20px 10px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2rem;

}