{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST" class="contact-form">
            {% csrf_token%}
            <div class="form-control">
                <div class="tag">Full name</div>
                <input type="text" name="full-name">
            </div>
            <div class="form-control">
                <div class="tag">Email</div>
                <input type="text" name="email">
            </div>
            <div class="form-control">
                <div class="tag">Subject</div>
                <input type="text" name="subject">
            </div>
            <div class="form-control">
                <div class="tag">Message</div>
                <textarea class="message" cols="30" rows="10"></textarea>
            </div>
            <div class="form-control">
                <input type="submit" class="btn submit-btn" value="send">
            </div>
        </form>
    </div>
</body>
</html>