.display-message-section {
  display: flex;
  justify-content: center;
  height: 100px;
  padding-top: 20px;
}
.game-box-col {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.grid-row {
  display: flex;
}
.cell {
border: 1px solid black;
width: 120px;
height: 120px;
display: flex;
justify-content: center;
align-items: center;
font-size: 40px;
}
.reset-btn-section {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.section-title {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  font-size: 25px;
}
.section-content {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.add-inputs > div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.score-section {
  display: flex;
}
.score-section-middle {
  width: 60%;
}
.player-one-score, player-two-score {
text-align: center;
width: 20%;
}
.total-rounds, .current-round {
  display: flex;
  justify-content: center;
}
.bottom-message-section {
  padding-top: 20px;
}