*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  color:#fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.main{
  width:50%;
  margin: 40px auto;
  text-align: center;
}
.fa-flag{
  color:#fff;
  padding-right: 5px;
}
.heading{
  font-weight: 600;
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
}

#search{
  width:100%;
  padding:10px;
  margin-top:20px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 3px solid #0774b3;
}
#search:focus{
  outline:none;
  box-shadow: 0 0 3pt 2pt #0774b3;
}
.card{
  background-color: #424642;
  margin:5px 0;
  padding:12px;
}
.stateName{
  color:#39a9cb;
  margin:0 10px;
}

/* Media query */
@media(max-width:1024px) {
   .main{
     width:80%;
   }
}
@media(max-width:760px){
  body{
    font-size: 13px;
  }
  .main{
    width:90%;
  }
  .card{
    text-align: left;
  }
  #search{
    font-size: 1rem;
  }
  #search:focus{
    outline:none;
    box-shadow: 0 0 1.5pt 1pt #0774b3;
  }
}