body::before{
  content: " ";
  position: absolute;
  background:url(./assets/jason-leung-Xaanw0s0pMk-unsplash.jpg);
  height: 100vh;
  width: 100vw;
  opacity: 0.4;
}
.main-container {
  max-width: 1200px;
  margin: auto;
}

.main-container > .cards {
  padding: 20px;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
}

.card-container {
  position: relative;
  margin: 20px;
  width: 340px;
  min-height: 220px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color: #646464;
  font-size: 18px;
  font-weight: 700;
}

.card {
  border-radius: 8px;
  position: absolute;
  /* background: #fff; */
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden; 
   backface-visibility: hidden;
  box-shadow: 0px 4px 8px rgba(191, 79, 79, 0.5);
  
}

.card-que {
  border: 4px solid #db4437;
}

.card-ans {
  border: 4px solid #0f9d58;
}


/* .card {
  border-radius: 6px;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-ans {
  border: 3px solid #0f9d58;
}

.card-que {
  border: 3px solid #db4437;
} */

.flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 4000ms;
}

.anti-flip {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 4000ms;
}

.del-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
}

.add-button {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #0f9d58;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
  margin: 40px;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;

  color: #ffffff;

  transition: 300ms;
  cursor: pointer;
}

.btn-container {
  display: flex;
  column-gap: 16px;
}

.btn-submit {
  border: 2px solid #0f9d58;
  background: #0f9d58;
}

.btn-submit:hover {
  color: #0f9d58;
  background: #ffffff;
  border: 2px solid #0f9d58;
  transition: 300ms;
}

.btn-cancel {
  border: 2px solid #db4437;
  background: #db4437;
}

.btn-cancel:hover {
  color: #db4437;
  background: #ffffff;
  border: 2px solid #db4437;
  transition: 300ms;
}

.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.modal {
  width: 300px;
  height: auto;
  padding: 24px 32px;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 24px;
}

input {
  padding: 8px;
  border-radius: 4px;
  min-width: "93%";
}

.form {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin-bottom: 12px;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .add-button {
    right: 0;
  }
}
