<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width , intial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>PASSWORD</title>
</head>
<body>
<div class="mt-5 container text-center">
<h1 class="display-4">Generated password is:</h1>
<h2 class ="alert alert-warning">{{password}}</h2>
    <p class="lead">Double-click on the generated passowrd to automatically copy it to the clipboard!</p>
<a href = "{% url 'home' %}" class="btn btn-warning">Home</a>
<br>

</div>
</body>
</html>