body {
  background-color: #333;
}
.box {
  background: white;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  top: 200px;
  transition-property: background,border-radius,transform;
  transition-duration: 2s;
}
.box:hover {
  background: red;
  border-radius: 50%;
  transform: rotateY(180deg);
}